<div class="table-responsive">
	<table id="dataTable" class="template table">
		<script type="text/x-mustache">
			<thead>
				<tr>
					<th>GUID</th>
					<th>昵称</th>
					<th>登录名</th>
					<th>Email</th>
					<th>创建时间</th>
					<th>最近登录时间</th>
					<th>登录次数</th>
				</tr>
			</thead>
			<tbody>
				{{#items}}
				<tr>
					<td>
						{{GUID}}
					</td>
					<td>
						{{ShowName}}
					</td>
					<td>
						{{LoginName}}
					</td>
					<td>
						{{Email}}
					</td>
					<td>
						{{CreateDateTime}}
					</td>
					<td>
						{{LastLogin}}
					</td>
					<td>
						{{LoginCount}}
					</td>
				</tr>
				{{/items}}
			</tbody>
		</script>
	</table>
</div>

@section scripts{
	<script type="text/javascript">
	var listJson = @Html.Raw(ViewBag.listJson);

		$(function() {
			$.initTemplate();

			$("#dataTable").render(listJson);
		});
	</script>
}