body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

.condition tbody tr td:nth-child(odd)
{
    width:14%; text-align:right; font-weight:bold;
}

.condition tbody tr td:nth-child(even)
{
    width:36%;
}