@{
    Layout = null;
}

<!-- Add -->
<div class="modal fade" id="AddDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">详细</h2>
            </div>
            <form id="AddDialog_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="AddDialog_SingleIntNumber" class="control-label">SingleIntNumber</label>
                        <input type="number" class="form-control" id="AddDialog_SingleIntNumber" name="SingleIntNumber" placeholder="Enter SingleIntNumber" />
                    </div>
                    <div class="form-group">
                        <label class="show control-label">SingleIntEnum</label>
                        <div class="radio-inline">
                            <label><input type="radio" name="SingleIntEnum" id="AddDialog_SingleIntEnum_1" value="1" />One</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="SingleIntEnum" id="AddDialog_SingleIntEnum_2" value="2" />Two</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddDialog_SingleMoney" class="control-label">SingleMoney</label>
                        <input type="number" class="form-control" id="AddDialog_SingleMoney" name="SingleMoney" placeholder="Enter SingleMoney" />
                    </div>
                    <div class="form-group">
                        <label for="AddDialog_SingleDatetime" class="control-label">SingleDatetime</label>
                        <input type="datetime" class="form-control" id="AddDialog_SingleDatetime" name="SingleDatetime" placeholder="Enter SingleDatetime" readonly />
                    </div>
                    <div class="form-group">
                        <label for="AddDialog_SingleVarchar" class="control-label">SingleVarchar</label>
                        <input type="text" class="form-control" id="AddDialog_SingleVarchar" name="SingleVarchar" placeholder="Enter SingleVarchar" />
                    </div>
                    <div class="form-group">
                        <label for="AddDialog_SingleLongVarchar" class="control-label">SingleLongVarchar</label>
                        <textarea class="form-control" rows="5" id="AddDialog_SingleLongVarchar" name="SingleLongVarchar"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="SingleBit" id="AddDialog_SingleBit" checked>
                            Is Right
                        </label>
                    </div>
                    <div class="alert alert-danger alert-dismissable hidden" id="AddDialog_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p id="AddDialog_alert_message"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="AddDialog_Accept" class="btn btn-lg btn-warning" data-loading-text="正在添加...">添加</button>
                    <button type="button" id="AddDialog_Cancel" class="btn btn-lg btn-warning" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    {
        var Single_Add_url = "@Url.Action("Add", "Single", new { area = "" }, null)";
    }

    $(function () {
        var initialDate = new Date();
        var startDate = new Date();
        startDate.setDate(initialDate.getDate() - 7);
        var endDate = new Date();
        endDate.setDate(initialDate.getDate() + 7);
        $('#AddDialog_SingleDatetime').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            initialDate: initialDate,
            startDate: startDate,
            endDate: endDate
        });

        $("#AddDialog_form").validate({
            rules: {
                SingleIntNumber: {
                    required: true,
                    number: true,
                    min: -999,
                    max: 999
                },
                SingleIntEnum: {
                    required: true,
                },
                SingleMoney: {
                    required: true,
                    number: true,
                    range: [0, 999]
                },
                SingleDatetime: {
                    required: true,
                    date: true
                },
                SingleVarchar: {
                    maxlength: 300
                },
                SingleLongVarchar: {
                    maxlength: 2000
                }
            },
            submitHandler: function (form) {
                var SingleLongVarchar = tinymce.get('AddDialog_SingleLongVarchar').getContent();
                $("#AddDialog_alert_message").html("");
                $("#AddDialog_alert").addClass('hidden');
                $("#AddDialog_Accept").button("loading");
                $.ajax({
                    type: "post",
                    cache: false,
                    url: Single_Add_url,
                    data: {
                        jsonobj: JSON.stringify({
                            SingleIntNumber: $("#AddDialog_SingleIntNumber").val(),
                            SingleIntEnum: $("input:radio[name='AddDialog_SingleIntEnum']:checked").val(),
                            SingleMoney: $("#AddDialog_SingleMoney").val(),
                            SingleDatetime: $("#AddDialog_SingleDatetime").val(),
                            SingleVarchar: $("#AddDialog_SingleVarchar").val(),
                            SingleLongVarchar: SingleLongVarchar,
                            SingleBit: $("#AddDialog_SingleLongVarchar").prop("checked")
                        }),
                    },
                    success: function (returnstring) {
                        var returnobj = JSON.parse(returnstring);
                        if (returnobj.status > 0) {
                            $("#AddDialog").modal("hide");
                            $("#MessageBox_alert").addClass("alert-success");
                            $("#MessageBox_message").html(returnobj.message);
                        } else {
                            $("#AddDialog_alert_message").html(returnobj.message);
                            $("#AddDialog_alert").removeClass('hidden');
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        $("#AddDialog_alert_message").html("网络错误，请重试！");
                        $("#AddDialog_alert").removeClass('hidden');
                    },
                    complete: function (xmlHttpRequest, textStatus) {
                        $('#AddDialog_Accept').button('reset');
                    }
                });
            }
        });

        $("#AddDialog").on("hide.bs.modal", function (e) {
            $("#AddDialog_SingleIntNumber").val("");
            $("#AddDialog_SingleIntEnum_1").prop("checked", false);
            $("#AddDialog_SingleIntEnum_2").prop("checked", false);
            $("#AddDialog_SingleMoney").val("");
            $("#AddDialog_SingleDatetime").val("");
            $("#AddDialog_SingleVarchar").val("");
            tinymce.get('AddDialog_SingleLongVarchar').setContent("");
            $("#AddDialog_SingleBit").prop("checked", true);

            $("#AddDialog_alert").addClass("hidden");
            $("#AddDialog_alert_message").html("");

            $('#AddDialog_Accept').button('reset');

            $("#AddDialog_form").validate().resetForm();
            $("#AddDialog .has-error").removeClass("has-error");
        });
    });

    function ShowAddDialog() {
        $("#AddDialog").modal("show");
    }
</script>