<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
	<targets>
		<target xsi:type="File" name="All" fileName="${logDirectory}/All.log"
			layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="Web" fileName="${logDirectory}/Web.log"
			layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="Logic" fileName="${logDirectory}/Logic.log"
			layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="DB" fileName="${logDirectory}/DB.log"
			layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />
		
		<target xsi:type="File" name="Util" fileName="${logDirectory}/Util.log"
			layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="All" />
		<logger name="J.Web.*" minlevel="Trace" writeTo="Web" />
		<logger name="J.Logic.*" minlevel="Trace" writeTo="Logic" />
		<logger name="J.DB.*" minlevel="Trace" writeTo="DB" />
		<logger name="J.Util.*" minlevel="Trace" writeTo="Util" />
	</rules>
</nlog>