<!-- Login -->
<div class="modal fade" id="Login_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">用户登录</h2>
            </div>
            <form id="Login_dialog_form">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                            <input type="text" class="form-control" id="Login_dialog_LoginName" name="LoginName" placeholder="登录名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-fw fa-unlock-alt"></i></span>
                            <input type="password" class="form-control" id="Login_dialog_LoginPassword" name="LoginPassword" placeholder="登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger alert-dismissable hidden" id="Login_dialog_alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p id="Login_dialog_alert_message"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="Login_dialog_Login" class="btn btn-lg btn-warning" data-loading-text="正在登录...">登录</button>
                    <button type="button" id="Login_dialog_Register" class="btn btn-lg btn-primary" data-dismiss="modal">注册</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Register -->
<div class="modal fade" id="Register_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">用户注册</h2>
            </div>
            <form id="Register_dialog_form">
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label for="Register_dialog_LoginName" class="col-sm-3 control-label">登录名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Register_dialog_LoginName" name="LoginName" placeholder="输入登录名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Register_dialog_ShowName" class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Register_dialog_ShowName" name="ShowName" placeholder="输入昵称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Register_dialog_Email" class="col-sm-3 control-label">电子邮箱</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="Register_dialog_Email" name="Email" placeholder="输入电子邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Register_dialog_LoginPassword" class="col-sm-3 control-label">登录密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="Register_dialog_LoginPassword" name="LoginPassword" placeholder="输入登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Register_dialog_LoginPasswordConfirm" class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="Register_dialog_LoginPasswordConfirm" name="LoginPasswordConfirm" placeholder="再次输入密码">
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissable hidden" id="Register_dialog_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p id="Register_dialog_alert_message"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="Register_dialog_Login" class="btn btn-lg btn-warning" data-dismiss="modal">登录</button>
                    <button type="button" id="Register_dialog_Register" class="btn btn-lg btn-primary" data-loading-text="正在注册...">立即注册</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    {
        var Home_Login_url = "@Url.Action("Login", "Home")";
        var Home_Register_url = "@Url.Action("Register", "Home")"
    }

    $(function () {
        //#region 登录相关Js
        $("#Login_dialog_form").validate({
            rules: {
                LoginName: {
                    required: true,
                    minlength: 5
                },
                LoginPassword: {
                    required: true,
                    minlength: 5
                }
            }
        });

        $("#Login_dialog_Login").click(function () {
            $("#Login_dialog_alert_message").html("");
            $("#Login_dialog_alert").addClass('hidden');

            if ($("#Login_dialog_form").valid()) {
                $(this).button("loading");
                $.ajax({
                    type: "post",
                    cache: false,
                    url: Home_Login_url,
                    data: {
                        LoginName: $.base64.encode($("#Login_dialog_LoginName").val()),
                        LoginPassword: $.base64.encode($("#Login_dialog_LoginPassword").val())
                    },
                    success: function (returnstring) {
                        var returnobj = JSON.parse(returnstring);
                        if (returnobj.status > 0) {
                            window.location.reload();
                        } else {
                            $("#Login_dialog_alert_message").html(returnobj.message);
                            $("#Login_dialog_alert").removeClass('hidden');
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        $("#Login_dialog_alert_message").html("网络错误，请重试！");
                        $("#Login_dialog_alert").removeClass('hidden');
                    },
                    complete: function (xmlHttpRequest, textStatus) {
                        $('#Login_dialog_Login').button('reset');
                    }
                });
            }
        });

        $("#Login_dialog_Register").click(function () {
            $("#Register_dialog").modal('show');
        });
        //#endregion

        //#region 注册相关Js
        $("#Register_dialog_form").validate({
            rules: {
                LoginName: {
                    required: true,
                    minlength: 5
                },
                ShowName: {
                    required: true,
                    minlength: 2
                },
                Email: {
                    required: true,
                    email: true,
                    minlength: 5
                },
                LoginPassword: {
                    required: true,
                    minlength: 5
                },
                LoginPasswordConfirm: {
                    required: true,
                    equalTo: "#Register_dialog_LoginPassword",
                    minlength: 5
                }
            }
        });

        $("#Register_dialog_Login").click(function () {
            $("#Login_dialog").modal('show');
        });

        $("#Register_dialog_Register").click(function () {
            $("#Register_dialog_alert_message").html("");
            $("#Register_dialog_alert").addClass('hidden');

            if ($("#Register_dialog_form").valid()) {
                $(this).button("loading");
                $.ajax({
                    type: "post",
                    cache: false,
                    url: Home_Register_url,
                    data: {
                        ShowName: $.base64.encode($("#Register_dialog_ShowName").val()),
                        LoginName: $.base64.encode($("#Register_dialog_LoginName").val()),
                        LoginPassword: $.base64.encode($("#Register_dialog_LoginPassword").val()),
                        Email: $.base64.encode($("#Register_dialog_Email").val()),
                    },
                    success: function (returnstring) {
                        var returnobj = JSON.parse(returnstring);
                        if (returnobj.status > 0) {
                            window.location.reload();
                        } else {
                            $("#Register_dialog_alert_message").html(returnobj.message);
                            $("#Register_dialog_alert").removeClass('hidden');
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        $("#Register_dialog_alert_message").html("网络错误，请重试！");
                        $("#Register_dialog_alert").removeClass('hidden');
                    },
                    complete: function (xmlHttpRequest, textStatus) {
                        $('#Register_dialog_Login').button('reset');
                    }
                });
            }
        });
        //#endregion
    });
</script>